-- MySQL dump 10.13  Distrib 8.4.11, for Linux (x86_64)
--
-- Host: localhost    Database: regula_rpps
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campo_extraido_sugestoes`
--

DROP TABLE IF EXISTS `campo_extraido_sugestoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campo_extraido_sugestoes` (
  `id` varchar(191) NOT NULL,
  `uploadId` varchar(191) NOT NULL,
  `campoId` varchar(191) NOT NULL,
  `valorSugerido` text NOT NULL,
  `paginaOrigem` int DEFAULT NULL,
  `trechoOrigem` text,
  `status` enum('PENDENTE','APROVADA','REJEITADA','CORRIGIDA') NOT NULL DEFAULT 'PENDENTE',
  `valorFinal` text,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `campo_extraido_sugestoes_uploadId_fkey` (`uploadId`),
  CONSTRAINT `campo_extraido_sugestoes_uploadId_fkey` FOREIGN KEY (`uploadId`) REFERENCES `documento_uploads` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campo_extraido_sugestoes`
--

LOCK TABLES `campo_extraido_sugestoes` WRITE;
/*!40000 ALTER TABLE `campo_extraido_sugestoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `campo_extraido_sugestoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `construtor_indicador_sugestoes`
--

DROP TABLE IF EXISTS `construtor_indicador_sugestoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `construtor_indicador_sugestoes` (
  `id` varchar(191) NOT NULL,
  `execucaoId` varchar(191) NOT NULL,
  `indicadorId` varchar(191) NOT NULL,
  `competencia` datetime(3) NOT NULL,
  `valorSugerido` text NOT NULL,
  `documentoNomeOrigem` varchar(191) NOT NULL,
  `paginaOrigem` int DEFAULT NULL,
  `trechoOrigem` text,
  `status` enum('PENDENTE','APROVADA','REJEITADA','CORRIGIDA') NOT NULL DEFAULT 'PENDENTE',
  `valorFinal` text,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `construtor_indicador_sugestoes_execucaoId_fkey` (`execucaoId`),
  KEY `construtor_indicador_sugestoes_indicadorId_fkey` (`indicadorId`),
  CONSTRAINT `construtor_indicador_sugestoes_execucaoId_fkey` FOREIGN KEY (`execucaoId`) REFERENCES `tenant_construtor_execucoes` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `construtor_indicador_sugestoes_indicadorId_fkey` FOREIGN KEY (`indicadorId`) REFERENCES `portal_indicadores` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `construtor_indicador_sugestoes`
--

LOCK TABLES `construtor_indicador_sugestoes` WRITE;
/*!40000 ALTER TABLE `construtor_indicador_sugestoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `construtor_indicador_sugestoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `construtor_tipos_documento`
--

DROP TABLE IF EXISTS `construtor_tipos_documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `construtor_tipos_documento` (
  `id` varchar(191) NOT NULL,
  `nome` varchar(191) NOT NULL,
  `referenciaTipo` enum('PRO_GESTAO','CRP','LIVRE','PERSONALIZADO','PORTAL_PREVIDENCIARIO') NOT NULL,
  `acaoCodigo` varchar(191) DEFAULT NULL,
  `criterionCode` varchar(191) DEFAULT NULL,
  `promptInstrucoes` text NOT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `sortOrder` int NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `documentoPersonalizadoId` varchar(191) DEFAULT NULL,
  `portalDocumentoId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `construtor_tipos_documento_documentoPersonalizadoId_key` (`documentoPersonalizadoId`),
  UNIQUE KEY `construtor_tipos_documento_portalDocumentoId_key` (`portalDocumentoId`),
  KEY `construtor_tipos_documento_acaoCodigo_fkey` (`acaoCodigo`),
  KEY `construtor_tipos_documento_criterionCode_fkey` (`criterionCode`),
  CONSTRAINT `construtor_tipos_documento_acaoCodigo_fkey` FOREIGN KEY (`acaoCodigo`) REFERENCES `pro_gestao_acoes` (`codigo`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `construtor_tipos_documento_criterionCode_fkey` FOREIGN KEY (`criterionCode`) REFERENCES `crp_criteria` (`code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `construtor_tipos_documento_documentoPersonalizadoId_fkey` FOREIGN KEY (`documentoPersonalizadoId`) REFERENCES `documentos_personalizados` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `construtor_tipos_documento_portalDocumentoId_fkey` FOREIGN KEY (`portalDocumentoId`) REFERENCES `portal_documentos` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `construtor_tipos_documento`
--

LOCK TABLES `construtor_tipos_documento` WRITE;
/*!40000 ALTER TABLE `construtor_tipos_documento` DISABLE KEYS */;
/*!40000 ALTER TABLE `construtor_tipos_documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crp_criteria`
--

DROP TABLE IF EXISTS `crp_criteria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crp_criteria` (
  `id` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `category` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `legalBasis` text NOT NULL,
  `periodicity` varchar(191) NOT NULL,
  `sortOrder` int NOT NULL DEFAULT '0',
  `dependsOnCode` varchar(191) DEFAULT NULL,
  `formaVerificacao` varchar(191) NOT NULL DEFAULT '',
  `sistemaOrigem` varchar(191) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`),
  UNIQUE KEY `crp_criteria_code_key` (`code`),
  KEY `crp_criteria_dependsOnCode_fkey` (`dependsOnCode`),
  CONSTRAINT `crp_criteria_dependsOnCode_fkey` FOREIGN KEY (`dependsOnCode`) REFERENCES `crp_criteria` (`code`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crp_criteria`
--

LOCK TABLES `crp_criteria` WRITE;
/*!40000 ALTER TABLE `crp_criteria` DISABLE KEYS */;
/*!40000 ALTER TABLE `crp_criteria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documento_personalizado_campos`
--

DROP TABLE IF EXISTS `documento_personalizado_campos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documento_personalizado_campos` (
  `id` varchar(191) NOT NULL,
  `documentoId` varchar(191) NOT NULL,
  `campoId` varchar(191) NOT NULL,
  `descricao` text NOT NULL,
  `obrigatorio` tinyint(1) NOT NULL DEFAULT '0',
  `sortOrder` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `documento_personalizado_campos_documentoId_campoId_key` (`documentoId`,`campoId`),
  CONSTRAINT `documento_personalizado_campos_documentoId_fkey` FOREIGN KEY (`documentoId`) REFERENCES `documentos_personalizados` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documento_personalizado_campos`
--

LOCK TABLES `documento_personalizado_campos` WRITE;
/*!40000 ALTER TABLE `documento_personalizado_campos` DISABLE KEYS */;
INSERT INTO `documento_personalizado_campos` VALUES ('cmtsnjaer0001qfqyoalffsf6','cmtsnjaep0000qfqyjv8rpacr','teste','teste',1,0);
/*!40000 ALTER TABLE `documento_personalizado_campos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documento_uploads`
--

DROP TABLE IF EXISTS `documento_uploads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documento_uploads` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `acaoCodigo` varchar(191) DEFAULT NULL,
  `criterionCode` varchar(191) DEFAULT NULL,
  `nomeArquivo` varchar(191) NOT NULL,
  `caminhoArquivo` varchar(191) NOT NULL,
  `paginasTexto` text NOT NULL,
  `status` enum('PENDENTE','EXTRAIDO','ERRO') NOT NULL DEFAULT 'PENDENTE',
  `erro` text,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `uploadedByUserId` varchar(191) NOT NULL,
  `descricao` text,
  `construtorExecucaoId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documento_uploads_tenantId_idx` (`tenantId`),
  KEY `documento_uploads_uploadedByUserId_fkey` (`uploadedByUserId`),
  KEY `documento_uploads_construtorExecucaoId_fkey` (`construtorExecucaoId`),
  CONSTRAINT `documento_uploads_construtorExecucaoId_fkey` FOREIGN KEY (`construtorExecucaoId`) REFERENCES `tenant_construtor_execucoes` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `documento_uploads_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `documento_uploads_uploadedByUserId_fkey` FOREIGN KEY (`uploadedByUserId`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documento_uploads`
--

LOCK TABLES `documento_uploads` WRITE;
/*!40000 ALTER TABLE `documento_uploads` DISABLE KEYS */;
/*!40000 ALTER TABLE `documento_uploads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos_personalizados`
--

DROP TABLE IF EXISTS `documentos_personalizados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documentos_personalizados` (
  `id` varchar(191) NOT NULL,
  `codigo` varchar(191) NOT NULL,
  `nome` varchar(191) NOT NULL,
  `descricao` text,
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `sortOrder` int NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `promptInstrucoes` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `documentos_personalizados_codigo_key` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos_personalizados`
--

LOCK TABLES `documentos_personalizados` WRITE;
/*!40000 ALTER TABLE `documentos_personalizados` DISABLE KEYS */;
INSERT INTO `documentos_personalizados` VALUES ('cmtsnjaep0000qfqyjv8rpacr','teste','teste','testetesteteste',1,0,'2026-09-08 12:34:41.904','2026-09-08 12:49:40.195','teste');
/*!40000 ALTER TABLE `documentos_personalizados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entidades_certificadoras`
--

DROP TABLE IF EXISTS `entidades_certificadoras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entidades_certificadoras` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cnpj` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('ATIVA','SUSPENSA','CANCELADA') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ATIVA',
  `dataCredenciamento` datetime(3) NOT NULL,
  `dataValidade` datetime(3) DEFAULT NULL,
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `entidades_certificadoras_cnpj_key` (`cnpj`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entidades_certificadoras`
--

LOCK TABLES `entidades_certificadoras` WRITE;
/*!40000 ALTER TABLE `entidades_certificadoras` DISABLE KEYS */;
/*!40000 ALTER TABLE `entidades_certificadoras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `features`
--

DROP TABLE IF EXISTS `features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `features` (
  `key` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nome` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `sortOrder` int NOT NULL DEFAULT '0',
  `grupo` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Geral',
  `escopo` enum('TENANT','ADMIN') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'TENANT',
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `features`
--

LOCK TABLES `features` WRITE;
/*!40000 ALTER TABLE `features` DISABLE KEYS */;
/*!40000 ALTER TABLE `features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `memberships`
--

DROP TABLE IF EXISTS `memberships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberships` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `memberships_userId_tenantId_key` (`userId`,`tenantId`),
  KEY `memberships_tenantId_idx` (`tenantId`),
  CONSTRAINT `memberships_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `memberships_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `memberships`
--

LOCK TABLES `memberships` WRITE;
/*!40000 ALTER TABLE `memberships` DISABLE KEYS */;
INSERT INTO `memberships` VALUES ('cmtlxoz7h009f3kuxjm2wmpkk','cmtlxoz7h009g3kuxzo2r0bt3','cmtlxoz7h009e3kux3n74m5ee'),('cmtlzl9nu00095pi9yh9hrkzd','cmtlzl9nu000a5pi9jscxxwn4','cmtlzl9nu00085pi9h8jklg2y');
/*!40000 ALTER TABLE `memberships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan_features`
--

DROP TABLE IF EXISTS `plan_features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plan_features` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `plan` enum('ESSENCIAL','GESTAO','PERFORMANCE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `featureKey` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `plan_features_plan_featureKey_key` (`plan`,`featureKey`),
  KEY `plan_features_featureKey_fkey` (`featureKey`),
  CONSTRAINT `plan_features_featureKey_fkey` FOREIGN KEY (`featureKey`) REFERENCES `features` (`key`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan_features`
--

LOCK TABLES `plan_features` WRITE;
/*!40000 ALTER TABLE `plan_features` DISABLE KEYS */;
/*!40000 ALTER TABLE `plan_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_documentos`
--

DROP TABLE IF EXISTS `portal_documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_documentos` (
  `id` varchar(191) NOT NULL,
  `codigo` varchar(191) NOT NULL,
  `nome` varchar(191) NOT NULL,
  `descricao` text,
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `sortOrder` int NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_documentos_codigo_key` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_documentos`
--

LOCK TABLES `portal_documentos` WRITE;
/*!40000 ALTER TABLE `portal_documentos` DISABLE KEYS */;
INSERT INTO `portal_documentos` VALUES ('cmtucymgx00005uh4q5liab2d','dipr-teste','DIPR (teste)','Documento de teste para verifica´┐¢´┐¢o end-to-end',1,0,'2026-09-09 17:14:13.953','2026-09-09 17:15:39.767');
/*!40000 ALTER TABLE `portal_documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_indicadores`
--

DROP TABLE IF EXISTS `portal_indicadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_indicadores` (
  `id` varchar(191) NOT NULL,
  `documentoId` varchar(191) NOT NULL,
  `indicadorId` varchar(191) NOT NULL,
  `nome` varchar(191) NOT NULL,
  `tipo` enum('NUMERICO','MOEDA','TEXTO','DATA') NOT NULL DEFAULT 'NUMERICO',
  `unidade` varchar(191) DEFAULT NULL,
  `sortOrder` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_indicadores_documentoId_indicadorId_key` (`documentoId`,`indicadorId`),
  CONSTRAINT `portal_indicadores_documentoId_fkey` FOREIGN KEY (`documentoId`) REFERENCES `portal_documentos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_indicadores`
--

LOCK TABLES `portal_indicadores` WRITE;
/*!40000 ALTER TABLE `portal_indicadores` DISABLE KEYS */;
INSERT INTO `portal_indicadores` VALUES ('cmtucymgx00015uh443r0qchk','cmtucymgx00005uh4q5liab2d','valor-total-de-repasses','Valor total de repasses','MOEDA','R$',0),('cmtucymgx00025uh4kvcwcx8n','cmtucymgx00005uh4q5liab2d','numero-de-segurados','Numero de segurados','NUMERICO','pessoas',1);
/*!40000 ALTER TABLE `portal_indicadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pro_gestao_acao_dependencias`
--

DROP TABLE IF EXISTS `pro_gestao_acao_dependencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pro_gestao_acao_dependencias` (
  `id` varchar(191) NOT NULL,
  `acaoCodigo` varchar(191) NOT NULL,
  `fonteCodigo` varchar(191) NOT NULL,
  `tipoRelacao` varchar(191) NOT NULL DEFAULT 'citacao_explicita_no_manual',
  PRIMARY KEY (`id`),
  UNIQUE KEY `pro_gestao_acao_dependencias_acaoCodigo_fonteCodigo_key` (`acaoCodigo`,`fonteCodigo`),
  KEY `pro_gestao_acao_dependencias_fonteCodigo_fkey` (`fonteCodigo`),
  CONSTRAINT `pro_gestao_acao_dependencias_acaoCodigo_fkey` FOREIGN KEY (`acaoCodigo`) REFERENCES `pro_gestao_acoes` (`codigo`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `pro_gestao_acao_dependencias_fonteCodigo_fkey` FOREIGN KEY (`fonteCodigo`) REFERENCES `pro_gestao_acoes` (`codigo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pro_gestao_acao_dependencias`
--

LOCK TABLES `pro_gestao_acao_dependencias` WRITE;
/*!40000 ALTER TABLE `pro_gestao_acao_dependencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `pro_gestao_acao_dependencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pro_gestao_acoes`
--

DROP TABLE IF EXISTS `pro_gestao_acoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pro_gestao_acoes` (
  `id` varchar(191) NOT NULL,
  `codigo` varchar(191) NOT NULL,
  `numero` varchar(191) NOT NULL,
  `nome` varchar(191) NOT NULL,
  `dimensao` varchar(191) NOT NULL,
  `essencial` tinyint(1) NOT NULL DEFAULT '0',
  `objetivo` text NOT NULL,
  `sortOrder` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `pro_gestao_acoes_codigo_key` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pro_gestao_acoes`
--

LOCK TABLES `pro_gestao_acoes` WRITE;
/*!40000 ALTER TABLE `pro_gestao_acoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `pro_gestao_acoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pro_gestao_campos`
--

DROP TABLE IF EXISTS `pro_gestao_campos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pro_gestao_campos` (
  `id` varchar(191) NOT NULL,
  `acaoCodigo` varchar(191) NOT NULL,
  `campoId` varchar(191) NOT NULL,
  `descricao` text NOT NULL,
  `nivelMinimo` enum('I','II','III','IV') NOT NULL,
  `quantidadeMinima` varchar(191) DEFAULT NULL,
  `periodicidade` varchar(191) DEFAULT NULL,
  `substituiCampoId` varchar(191) DEFAULT NULL,
  `sortOrder` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `pro_gestao_campos_acaoCodigo_campoId_key` (`acaoCodigo`,`campoId`),
  CONSTRAINT `pro_gestao_campos_acaoCodigo_fkey` FOREIGN KEY (`acaoCodigo`) REFERENCES `pro_gestao_acoes` (`codigo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pro_gestao_campos`
--

LOCK TABLES `pro_gestao_campos` WRITE;
/*!40000 ALTER TABLE `pro_gestao_campos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pro_gestao_campos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_construtor_execucoes`
--

DROP TABLE IF EXISTS `tenant_construtor_execucoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_construtor_execucoes` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `tipoDocumentoId` varchar(191) NOT NULL,
  `status` enum('RASCUNHO','APROVADO','DESATUALIZADO') NOT NULL DEFAULT 'RASCUNHO',
  `conteudo` text NOT NULL,
  `citacoes` text NOT NULL,
  `geradoEm` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `geradoPorUserId` varchar(191) NOT NULL,
  `aprovadoEm` datetime(3) DEFAULT NULL,
  `aprovadoPorUserId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tenant_construtor_execucoes_tenantId_idx` (`tenantId`),
  KEY `tenant_construtor_execucoes_tipoDocumentoId_fkey` (`tipoDocumentoId`),
  CONSTRAINT `tenant_construtor_execucoes_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_construtor_execucoes_tipoDocumentoId_fkey` FOREIGN KEY (`tipoDocumentoId`) REFERENCES `construtor_tipos_documento` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_construtor_execucoes`
--

LOCK TABLES `tenant_construtor_execucoes` WRITE;
/*!40000 ALTER TABLE `tenant_construtor_execucoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_construtor_execucoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_crp_criteria`
--

DROP TABLE IF EXISTS `tenant_crp_criteria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_crp_criteria` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `criterionId` varchar(191) NOT NULL,
  `status` enum('REGULAR','IRREGULAR','PENDENTE') NOT NULL DEFAULT 'PENDENTE',
  `lastSentAt` datetime(3) DEFAULT NULL,
  `nextDueAt` datetime(3) DEFAULT NULL,
  `responsibleUserId` varchar(191) DEFAULT NULL,
  `notes` text,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tenant_crp_criteria_tenantId_criterionId_key` (`tenantId`,`criterionId`),
  KEY `tenant_crp_criteria_tenantId_idx` (`tenantId`),
  KEY `tenant_crp_criteria_criterionId_fkey` (`criterionId`),
  CONSTRAINT `tenant_crp_criteria_criterionId_fkey` FOREIGN KEY (`criterionId`) REFERENCES `crp_criteria` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_crp_criteria_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_crp_criteria`
--

LOCK TABLES `tenant_crp_criteria` WRITE;
/*!40000 ALTER TABLE `tenant_crp_criteria` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_crp_criteria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_documento_personalizado_publicacoes`
--

DROP TABLE IF EXISTS `tenant_documento_personalizado_publicacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_documento_personalizado_publicacoes` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `documentoId` varchar(191) NOT NULL,
  `status` enum('RASCUNHO','APROVADO','DESATUALIZADO') NOT NULL DEFAULT 'RASCUNHO',
  `conteudo` text NOT NULL,
  `geradoEm` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `aprovadoEm` datetime(3) DEFAULT NULL,
  `aprovadoPorUserId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tenant_documento_personalizado_publicacoes_tenantId_document_key` (`tenantId`,`documentoId`),
  KEY `tenant_documento_personalizado_publicacoes_documentoId_fkey` (`documentoId`),
  CONSTRAINT `tenant_documento_personalizado_publicacoes_documentoId_fkey` FOREIGN KEY (`documentoId`) REFERENCES `documentos_personalizados` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_documento_personalizado_publicacoes_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_documento_personalizado_publicacoes`
--

LOCK TABLES `tenant_documento_personalizado_publicacoes` WRITE;
/*!40000 ALTER TABLE `tenant_documento_personalizado_publicacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_documento_personalizado_publicacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_documento_personalizado_valores`
--

DROP TABLE IF EXISTS `tenant_documento_personalizado_valores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_documento_personalizado_valores` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `campoId` varchar(191) NOT NULL,
  `valor` text NOT NULL,
  `criadoPorUserId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `tenant_documento_personalizado_valores_tenantId_campoId_crea_idx` (`tenantId`,`campoId`,`createdAt`),
  KEY `tenant_documento_personalizado_valores_campoId_fkey` (`campoId`),
  KEY `tenant_documento_personalizado_valores_criadoPorUserId_fkey` (`criadoPorUserId`),
  CONSTRAINT `tenant_documento_personalizado_valores_campoId_fkey` FOREIGN KEY (`campoId`) REFERENCES `documento_personalizado_campos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_documento_personalizado_valores_criadoPorUserId_fkey` FOREIGN KEY (`criadoPorUserId`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `tenant_documento_personalizado_valores_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_documento_personalizado_valores`
--

LOCK TABLES `tenant_documento_personalizado_valores` WRITE;
/*!40000 ALTER TABLE `tenant_documento_personalizado_valores` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_documento_personalizado_valores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_documentos_compostos`
--

DROP TABLE IF EXISTS `tenant_documentos_compostos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_documentos_compostos` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `acaoCodigo` varchar(191) NOT NULL,
  `status` enum('RASCUNHO','APROVADO','DESATUALIZADO') NOT NULL DEFAULT 'RASCUNHO',
  `conteudo` text NOT NULL,
  `baseadoEmValorIds` text NOT NULL,
  `geradoEm` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `aprovadoEm` datetime(3) DEFAULT NULL,
  `aprovadoPorUserId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tenant_documentos_compostos_tenantId_acaoCodigo_key` (`tenantId`,`acaoCodigo`),
  KEY `tenant_documentos_compostos_acaoCodigo_fkey` (`acaoCodigo`),
  CONSTRAINT `tenant_documentos_compostos_acaoCodigo_fkey` FOREIGN KEY (`acaoCodigo`) REFERENCES `pro_gestao_acoes` (`codigo`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_documentos_compostos_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_documentos_compostos`
--

LOCK TABLES `tenant_documentos_compostos` WRITE;
/*!40000 ALTER TABLE `tenant_documentos_compostos` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_documentos_compostos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_features`
--

DROP TABLE IF EXISTS `tenant_features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_features` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `featureKey` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `enabled` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tenant_features_tenantId_featureKey_key` (`tenantId`,`featureKey`),
  KEY `tenant_features_featureKey_fkey` (`featureKey`),
  CONSTRAINT `tenant_features_featureKey_fkey` FOREIGN KEY (`featureKey`) REFERENCES `features` (`key`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_features_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_features`
--

LOCK TABLES `tenant_features` WRITE;
/*!40000 ALTER TABLE `tenant_features` DISABLE KEYS */;
INSERT INTO `tenant_features` VALUES ('cmtn6nem6001d131en6z7ry02','cmtlzl9nu00085pi9h8jklg2y','auditoria',1);
/*!40000 ALTER TABLE `tenant_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_portal_indicador_valores`
--

DROP TABLE IF EXISTS `tenant_portal_indicador_valores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_portal_indicador_valores` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `indicadorId` varchar(191) NOT NULL,
  `competencia` datetime(3) NOT NULL,
  `valor` text NOT NULL,
  `origem` enum('MANUAL','PDF_EXTRACTION','AI_COMPOSED') NOT NULL DEFAULT 'MANUAL',
  `origemDetalhe` text,
  `criadoPorUserId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `tenant_portal_indicador_valores_tenantId_indicadorId_compete_idx` (`tenantId`,`indicadorId`,`competencia`,`createdAt`),
  KEY `tenant_portal_indicador_valores_indicadorId_fkey` (`indicadorId`),
  KEY `tenant_portal_indicador_valores_criadoPorUserId_fkey` (`criadoPorUserId`),
  CONSTRAINT `tenant_portal_indicador_valores_criadoPorUserId_fkey` FOREIGN KEY (`criadoPorUserId`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `tenant_portal_indicador_valores_indicadorId_fkey` FOREIGN KEY (`indicadorId`) REFERENCES `portal_indicadores` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_portal_indicador_valores_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_portal_indicador_valores`
--

LOCK TABLES `tenant_portal_indicador_valores` WRITE;
/*!40000 ALTER TABLE `tenant_portal_indicador_valores` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_portal_indicador_valores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_pro_gestao_acoes`
--

DROP TABLE IF EXISTS `tenant_pro_gestao_acoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_pro_gestao_acoes` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `acaoCodigo` varchar(191) NOT NULL,
  `nivelAtual` enum('I','II','III','IV') DEFAULT NULL,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tenant_pro_gestao_acoes_tenantId_acaoCodigo_key` (`tenantId`,`acaoCodigo`),
  KEY `tenant_pro_gestao_acoes_tenantId_idx` (`tenantId`),
  KEY `tenant_pro_gestao_acoes_acaoCodigo_fkey` (`acaoCodigo`),
  CONSTRAINT `tenant_pro_gestao_acoes_acaoCodigo_fkey` FOREIGN KEY (`acaoCodigo`) REFERENCES `pro_gestao_acoes` (`codigo`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_pro_gestao_acoes_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_pro_gestao_acoes`
--

LOCK TABLES `tenant_pro_gestao_acoes` WRITE;
/*!40000 ALTER TABLE `tenant_pro_gestao_acoes` DISABLE KEYS */;
INSERT INTO `tenant_pro_gestao_acoes` VALUES ('cmtlxozh300aq3kuxmhq750mm','cmtlxoz7h009e3kux3n74m5ee','codigo-etica','I','2026-09-03 20:35:03.142');
/*!40000 ALTER TABLE `tenant_pro_gestao_acoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenant_pro_gestao_campo_valores`
--

DROP TABLE IF EXISTS `tenant_pro_gestao_campo_valores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_pro_gestao_campo_valores` (
  `id` varchar(191) NOT NULL,
  `tenantId` varchar(191) NOT NULL,
  `campoId` varchar(191) NOT NULL,
  `valor` text NOT NULL,
  `origem` enum('MANUAL','PDF_EXTRACTION','AI_COMPOSED') NOT NULL DEFAULT 'MANUAL',
  `origemDetalhe` text,
  `criadoPorUserId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `tenant_pro_gestao_campo_valores_tenantId_campoId_createdAt_idx` (`tenantId`,`campoId`,`createdAt`),
  KEY `tenant_pro_gestao_campo_valores_campoId_fkey` (`campoId`),
  KEY `tenant_pro_gestao_campo_valores_criadoPorUserId_fkey` (`criadoPorUserId`),
  CONSTRAINT `tenant_pro_gestao_campo_valores_campoId_fkey` FOREIGN KEY (`campoId`) REFERENCES `pro_gestao_campos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tenant_pro_gestao_campo_valores_criadoPorUserId_fkey` FOREIGN KEY (`criadoPorUserId`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `tenant_pro_gestao_campo_valores_tenantId_fkey` FOREIGN KEY (`tenantId`) REFERENCES `tenants` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenant_pro_gestao_campo_valores`
--

LOCK TABLES `tenant_pro_gestao_campo_valores` WRITE;
/*!40000 ALTER TABLE `tenant_pro_gestao_campo_valores` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_pro_gestao_campo_valores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenants`
--

DROP TABLE IF EXISTS `tenants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenants` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `federatedEntity` varchar(191) NOT NULL,
  `plan` enum('ESSENCIAL','GESTAO','PERFORMANCE') NOT NULL DEFAULT 'ESSENCIAL',
  `seguradosCount` int NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `cnpj` varchar(191) DEFAULT NULL,
  `firstAccessToken` varchar(191) DEFAULT NULL,
  `observacao` text,
  `site` varchar(191) DEFAULT NULL,
  `nivelProGestaoAlvo` enum('I','II','III','IV') DEFAULT NULL,
  `emailPublico` varchar(191) DEFAULT NULL,
  `enderecoPublico` varchar(191) DEFAULT NULL,
  `telefonePublico` varchar(191) DEFAULT NULL,
  `logoUrl` varchar(191) DEFAULT NULL,
  `portalMenuApiUrl` varchar(191) DEFAULT NULL,
  `portalRodapeApiUrl` varchar(191) DEFAULT NULL,
  `portalCorPrimaria` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tenants_slug_key` (`slug`),
  UNIQUE KEY `tenants_cnpj_key` (`cnpj`),
  UNIQUE KEY `tenants_firstAccessToken_key` (`firstAccessToken`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenants`
--

LOCK TABLES `tenants` WRITE;
/*!40000 ALTER TABLE `tenants` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_features`
--

DROP TABLE IF EXISTS `user_features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_features` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `featureKey` varchar(191) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `enabled` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_features_userId_featureKey_key` (`userId`,`featureKey`),
  KEY `user_features_featureKey_fkey` (`featureKey`),
  CONSTRAINT `user_features_featureKey_fkey` FOREIGN KEY (`featureKey`) REFERENCES `features` (`key`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `user_features_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_features`
--

LOCK TABLES `user_features` WRITE;
/*!40000 ALTER TABLE `user_features` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `passwordHash` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `isSuperAdmin` tinyint(1) NOT NULL DEFAULT '0',
  `ativo` tinyint(1) NOT NULL DEFAULT '1',
  `cpf` varchar(191) DEFAULT NULL,
  `lastLoginAt` datetime(3) DEFAULT NULL,
  `telefone` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_key` (`email`),
  UNIQUE KEY `users_cpf_key` (`cpf`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-09 18:53:09
